//import
@import '../css/reset.css', '../css/normalize.css';

//variables
$gold-light:                         #FFDFBA;
$gold-dark:                          #AB9A88;
$blue:                               #014593;
$white:                              #fff;

$container--padding-mobile:            1.5rem;
$container--padding-tablet:            2.6rem;
$container--padding-desktop:           15.625rem;

//breakpoints
$mobile:                               768px;
$tablet:                               1024px;
$desktop:                              1440px;

//base
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 100%; //16px=1rem
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $blue;
    font-size: 1rem;
    line-height: 150%;
    @media screen and (min-width: $desktop) {
        font-size: 1.325rem;
        line-height: 143%;
    }
}

img {
    max-width: 100%;
}

.container {
    padding-left: $container--padding-mobile !important;
    padding-right: $container--padding-mobile !important; 
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        padding-left: $container--padding-tablet !important;
        padding-right: $container--padding-tablet !important;
    }
    @media screen and (min-width: $desktop) {
        padding-left: $container--padding-desktop !important;
        padding-right: $container--padding-desktop !important;
    }
}

.btn {
    padding: .8rem 1.6rem;
    border-radius: 2rem;
    border: 1px solid $white;
    text-decoration: none;
    display: inline-block;
    &.btn-primary {
        background: $gold-light;
        color: $blue;
        text-transform: uppercase;
        font-weight: bold;
    }
}

//layout
header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2 * (#{ $container--padding-mobile}));
    background: transparent;
    padding: 1.5rem;
    z-index: 998;
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: calc(100% - 2 * (#{ $container--padding-tablet}));
    }
    @media screen and (min-width: $desktop) {
        width: calc(100% - 2 * (#{ $container--padding-desktop}));
    }
    nav {}
    #header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            #menu-button {
                position: relative;
                width: 20px;
                height: 16px;
                margin-right: 1rem;
                @media screen and (min-width: $desktop) {
                    display: none;
                }
                span {
                    position: absolute;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    background: $white;
                    &:nth-child(1) { top: 0; }
                    &:nth-child(2) { top: 7px; }
                    &:nth-child(3) { top: 14px; }
                }
            }
        }
        #desktop-nav-wrapper {
            @media screen and (max-width: $desktop) {
                display: none;
            }
        }
        #header-right {
            #header-buttons {
                a {
                    margin-left: .8rem;
                    color: $blue;
                    text-decoration: none;
                    @media screen and (min-width: $mobile) {
                        padding: .1rem .6rem .4rem .6rem;
                        background: $white;
                        border-radius: 2rem;
                    }
                    span {
                        margin-right: 1.4rem;
                        font-size: .8125rem;
                        line-height: .93rem;
                        vertical-align: middle;
                        @media screen and (max-width: $mobile) {
                            display: none;
                        }
                    }
                    svg {
                        vertical-align: middle;
                        width: 1rem;
                        height: 1rem;
                        path {
                            stroke: $white;
                            @media screen and (min-width: $mobile) {
                                stroke: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
#hero {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    padding-top: 5.4rem;
    h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 104%;
        color: $gold-light;
        @media screen and (min-width: $desktop) {
            font-size: 3.75rem;
            line-height: 117%;
        }
    }
    .lead {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-weight: bold;
        font-size: 1rem;
        color: $white;
        margin-bottom: 3.8rem;
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            max-width: 55%;
        }
        @media screen and (min-width: $desktop) {
            max-width: 68.5%;
        }
    }
    .btn-primary {
        text-align: center;
        padding-left: 5.9rem;
        padding-right: 5.9rem;
        font-size: 1rem;
        margin-bottom: 3rem;
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            margin-bottom: 7rem;
        }
        @media screen and (min-width: $desktop) {
            padding: .6875rem 1.625rem .8125rem 1.625rem;
        }
    }
}
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem $container--padding-tablet;
        p {
            padding-left: 1.25rem;
        }
    }
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        justify-content: center;
        p {
            padding-left: 3.43rem;
        }
    }
    img {
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
}
footer {}

//custom