//import
@import '../css/reset.css', '../css/normalize.css';

//variables
$gold-light:                         #FFDFBA;
$gold-dark:                          #AB9A88;
$blue:                               #014593;
$white:                              #fff;
$grey:                               #dfe3e8;

$container--padding-mobile:            1.5rem;
$container--padding-tablet:            2.6rem;
$container--padding-desktop:           15.625rem;

//breakpoints
$mobile:                               768px;
$tablet:                               1024px;
$desktop:                              1440px;

//base
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 100%; //16px=1rem
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $blue;
    font-size: 1rem;
    line-height: 150%;
    @media screen and (min-width: $desktop) {
        font-size: 1.325rem;
        line-height: 143%;
    }
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-left: $container--padding-mobile !important;
    padding-right: $container--padding-mobile !important; 
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        padding-left: $container--padding-tablet !important;
        padding-right: $container--padding-tablet !important;
    }
    @media screen and (min-width: $desktop) {
        padding-left: $container--padding-desktop !important;
        padding-right: $container--padding-desktop !important;
    }
}

.btn {
    padding: .8rem 1.6rem;
    border-radius: 2rem;
    border: 1px solid $white;
    text-decoration: none;
    display: inline-block;
    &.btn-primary {
        background: $gold-light;
        color: $blue;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.hamburger-icon {
    position: relative;
    width: 20px;
    height: 16px;
    margin-right: 1rem;
    span {
        position: absolute;
        left: 0;
        width: 20px;
        height: 2px;
        background: $white;
        &:nth-child(1) { top: 0; }
        &:nth-child(2) { top: 7px; }
        &:nth-child(3) { top: 14px; }
    }
}

//layout
header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2 * (#{ $container--padding-mobile}));
    background: transparent;
    padding: .8rem $container--padding-mobile;
    z-index: 997;
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: calc(100% - 2 * (#{ $container--padding-tablet}));
    }
    @media screen and (min-width: $desktop) {
        width: calc(100% - 2 * (#{ $container--padding-desktop}));
    }
    #tablet-menu-outside {
        position: absolute;
        top: 0;
        right: -100vw;
        width: 50vw;
        height: 100vw;
        z-index: 998;
        &.opened {
            right: 0;
        }
    }
    #mobile-menu {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background: $white;
        color: $blue;
        transition: left .3s ease;
        z-index: 998;
        overflow-y: auto;
        box-sizing: border-box;
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            box-shadow: 0px 6px 12px rgba(27, 39, 56, 0.302256);
            width: 50vw;
            left: -50vw;
        }
        &.opened {
            left: 0;
        }
        #mobile-menu-header {
            position: fixed;
            top: -4.3rem;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 2 * (#{ $container--padding-mobile}));
            padding: .8rem $container--padding-mobile;
            background: $white;
            border-bottom: 1px solid $grey;
            z-index: 999;
            transition: top .3s ease;
            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                width: calc(50% - 2 * (#{ $container--padding-tablet}));
                padding: .8rem $container--padding-tablet;
            }
            &.opened {
                top: 0;
            }
            #mobile-menu-header-left {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                #mobile-menu-button {
                    @media screen and (min-width: $mobile) and (max-width: $tablet) {
                        display: none;
                    }
                    &.hamburger-icon {
                        span { background: $blue !important; }
                    }
                }
                #mobile-logo {
                    max-height: 2rem;
                }
            }
            #mobile-menu-header-right {
                #closeBtn {
                    width: 1.125rem;
                    height: 1.125rem;
                }
            }
        }
        #mobile-menu-wrapper {
            position: absolute;
            height: auto;
            width: 100%;
            overflow-y: scroll;
            top: 0;
            left: 0;
            z-index: 998;
            #mobile-menu-content {
                padding: $container--padding-mobile;
                padding-top: calc(4rem + #{$container--padding-mobile});
                @media screen and (min-width: $mobile) and (max-width: $tablet) {
                    padding-left: $container--padding-tablet;
                    padding-right: $container--padding-tablet;
                }
                #mobile-profile-section {
                    padding-top: calc(1.8rem - #{$container--padding-mobile});
                    padding-bottom: 1.8rem;
                    border-bottom: 1px solid $grey;
                    display: none;
                    #profile-details {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        img {
                            max-width: 2.5rem;
                            max-height: 2.5rem;
                            border-radius: 2.5rem;
                            margin-right: 1rem;
                        }
                        .login-info {
                            span {
                                display: block;
                                line-height: 1.25rem;
                                font-size: .625rem;
                                &.profile-name {
                                    font-size: .875rem;
                                }
                            }
                        }
                    }
                    #profile-menu {
                        margin-top: 1.25rem;
                        ul {
                            li {
                                a {
                                    color: $gold-dark;
                                    font-size: .875rem;
                                    line-height: 286%;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
                #mobile-menu-btn {
                    padding-top: calc(1.8rem - #{$container--padding-mobile});
                    padding-bottom: 1.8rem;
                    border-bottom: 1px solid $grey;
                    @media screen and (min-width: $mobile) and (max-width: $tablet) {
                        display: none;
                    }
                    .btn {
                        text-align: center;
                        padding-left: 5.9rem;
                        padding-right: 5.9rem;
                        font-size: 1rem;
                    }
                }
                nav#mobile-navigation {
                    ul {
                        li.mobile-menu-item {
                            border-bottom: 1px solid $grey;
                            padding-top: 1.75rem;
                            padding-bottom: 1rem;
                            box-sizing: border-box;
                            &:first-child {
                                ul {
                                    columns: 2;
                                    -webkit-columns: 2;
                                    -moz-columns: 2;
                                }
                            }
                            a {
                                color: $blue;
                                font-size: 1.625rem;
                                line-height: 123%;
                                font-weight: bold;
                            }
                            ul.mobile-sub-menu {
                                li {
                                    a {
                                        color: $gold-dark;
                                        font-size: .875rem;
                                        line-height: 286%;
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                        #additional-menu-items {
                            ul {
                                columns: 2;
                                -webkit-columns: 2;
                                -moz-columns: 2;
                                padding: 1rem 0;
                                border-bottom: 1px solid $grey;
                                &.mobile-sub-menu {
                                    li {
                                        a {
                                            color: $gold-dark;
                                            font-size: .875rem;
                                            line-height: 286%;
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #language-selector {
                        text-align: center;
                        vertical-align: middle;
                        padding: 1rem 0;
                        border-bottom: 1px solid $grey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            color: $gold-dark;
                            font-size: .875rem;
                            margin-left: .625rem;
                        }
                    }
                }
                #menu-bottom-buttons {
                    padding: 3rem;
                    text-align: center;
                    @media screen and (min-width: $mobile) and (max-width: $tablet) {
                        display: none;
                    }
                    a {
                        color: $blue;
                        text-decoration: none;
                        padding: .1rem .6rem .4rem .6rem;
                        background: $white;
                        border: 1px solid $blue;
                        border-radius: 2rem;
                        &:nth-child(2) {
                            margin-left: .8rem;
                        }
                        span {
                            margin-right: 1.4rem;
                            font-size: .8125rem;
                            line-height: .93rem;
                            vertical-align: middle;
                        }
                        svg {
                            vertical-align: middle;
                            width: 1rem;
                            height: 1rem;
                            path {
                                stroke: $blue;
                            }
                        }
                    }
                }
                &.logged-in {
                    #mobile-menu-btn,
                    nav#mobile-navigation .mobile-menu-item:nth-child(2),
                    nav#mobile-navigation .mobile-menu-item:nth-child(3),
                    #additional-menu-items {
                        display: none;
                    }
                    #mobile-profile-section {
                        display: block;
                    }
                }
            }
        }
    }

    #header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            #menu-button {
                @media screen and (min-width: $desktop) {
                    display: none;
                }
            }
        }
        #desktop-nav-wrapper {
            @media screen and (max-width: $desktop) {
                display: none;
            }
        }
        #header-right {
            #header-buttons {
                a {
                    margin-left: .8rem;
                    color: $blue;
                    text-decoration: none;
                    @media screen and (min-width: $mobile) {
                        padding: .1rem .6rem .4rem .6rem;
                        background: $white;
                        border-radius: 2rem;
                    }
                    span {
                        margin-right: 1.4rem;
                        font-size: .8125rem;
                        line-height: .93rem;
                        vertical-align: middle;
                        @media screen and (max-width: $mobile) {
                            display: none;
                        }
                    }
                    svg {
                        vertical-align: middle;
                        width: 1rem;
                        height: 1rem;
                        path {
                            stroke: $white;
                            @media screen and (min-width: $mobile) {
                                stroke: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
#hero {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    padding-top: 5.4rem;
    h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 104%;
        color: $gold-light;
        @media screen and (min-width: $desktop) {
            font-size: 3.75rem;
            line-height: 117%;
        }
    }
    .lead {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-weight: bold;
        font-size: 1rem;
        color: $white;
        margin-bottom: 3.8rem;
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            max-width: 55%;
        }
        @media screen and (min-width: $desktop) {
            max-width: 68.5%;
        }
    }
    .btn-primary {
        text-align: center;
        padding-left: 5.9rem;
        padding-right: 5.9rem;
        font-size: 1rem;
        margin-bottom: 3rem;
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            margin-bottom: 7rem;
        }
        @media screen and (min-width: $desktop) {
            padding: .6875rem 1.625rem .8125rem 1.625rem;
        }
    }
}
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem $container--padding-tablet;
        p {
            padding-left: 1.25rem;
        }
    }
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        justify-content: center;
        p {
            padding-left: 3.43rem;
        }
    }
    img {
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
}
footer {}

//state
.fixed { position: fixed; }