@import '../css/reset.css';
@import '../css/normalize.css';
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #014593;
  font-size: 1rem;
  line-height: 150%;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 1.325rem;
    line-height: 143%;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 2.6rem !important;
    padding-right: 2.6rem !important;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 15.625rem !important;
    padding-right: 15.625rem !important;
  }
}

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  text-decoration: none;
  display: inline-block;
}
.btn.btn-primary {
  background: #FFDFBA;
  color: #014593;
  text-transform: uppercase;
  font-weight: bold;
}

.hamburger-icon {
  position: relative;
  width: 20px;
  height: 16px;
  margin-right: 1rem;
}
.hamburger-icon span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fff;
}
.hamburger-icon span:nth-child(1) {
  top: 0;
}
.hamburger-icon span:nth-child(2) {
  top: 7px;
}
.hamburger-icon span:nth-child(3) {
  top: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2 * (1.5rem));
  background: transparent;
  padding: 0.8rem 1.5rem;
  z-index: 997;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: calc(100% - 2 * (2.6rem));
  }
}
@media screen and (min-width: 1440px) {
  header {
    width: calc(100% - 2 * (15.625rem));
  }
}
header #tablet-menu-outside {
  position: absolute;
  top: 0;
  right: -100vw;
  width: 50vw;
  height: 100vw;
  z-index: 998;
}
header #tablet-menu-outside.opened {
  right: 0;
}
header #mobile-menu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #014593;
  transition: left 0.3s ease;
  z-index: 998;
  overflow-y: auto;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu {
    box-shadow: 0px 6px 12px rgba(27, 39, 56, 0.302256);
    width: 50vw;
    left: -50vw;
  }
}
header #mobile-menu.opened {
  left: 0;
}
header #mobile-menu #mobile-menu-header {
  position: fixed;
  top: -4.3rem;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * (1.5rem));
  padding: 0.8rem 1.5rem;
  background: #fff;
  border-bottom: 1px solid #dfe3e8;
  z-index: 999;
  transition: top 0.3s ease;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu #mobile-menu-header {
    width: calc(50% - 2 * (2.6rem));
    padding: 0.8rem 2.6rem;
  }
}
header #mobile-menu #mobile-menu-header.opened {
  top: 0;
}
header #mobile-menu #mobile-menu-header #mobile-menu-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu #mobile-menu-header #mobile-menu-header-left #mobile-menu-button {
    display: none;
  }
}
header #mobile-menu #mobile-menu-header #mobile-menu-header-left #mobile-menu-button.hamburger-icon span {
  background: #014593 !important;
}
header #mobile-menu #mobile-menu-header #mobile-menu-header-left #mobile-logo {
  max-height: 2rem;
}
header #mobile-menu #mobile-menu-header #mobile-menu-header-right #closeBtn {
  width: 1.125rem;
  height: 1.125rem;
}
header #mobile-menu #mobile-menu-wrapper {
  position: absolute;
  height: auto;
  width: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 998;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content {
  padding: 1.5rem;
  padding-top: calc(4rem + 1.5rem);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu #mobile-menu-wrapper #mobile-menu-content {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section {
  padding-top: calc(1.8rem - 1.5rem);
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #dfe3e8;
  display: none;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-details img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 2.5rem;
  margin-right: 1rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-details .login-info span {
  display: block;
  line-height: 1.25rem;
  font-size: 0.625rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-details .login-info span.profile-name {
  font-size: 0.875rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-menu {
  margin-top: 1.25rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-profile-section #profile-menu ul li a {
  color: #AB9A88;
  font-size: 0.875rem;
  line-height: 286%;
  font-weight: normal;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-menu-btn {
  padding-top: calc(1.8rem - 1.5rem);
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #dfe3e8;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-menu-btn {
    display: none;
  }
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #mobile-menu-btn .btn {
  text-align: center;
  padding-left: 5.9rem;
  padding-right: 5.9rem;
  font-size: 1rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul li.mobile-menu-item {
  border-bottom: 1px solid #dfe3e8;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul li.mobile-menu-item:first-child ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul li.mobile-menu-item a {
  color: #014593;
  font-size: 1.625rem;
  line-height: 123%;
  font-weight: bold;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul li.mobile-menu-item ul.mobile-sub-menu li a {
  color: #AB9A88;
  font-size: 0.875rem;
  line-height: 286%;
  font-weight: normal;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul #additional-menu-items ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 1rem 0;
  border-bottom: 1px solid #dfe3e8;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation ul #additional-menu-items ul.mobile-sub-menu li a {
  color: #AB9A88;
  font-size: 0.875rem;
  line-height: 286%;
  font-weight: normal;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation #language-selector {
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
  border-bottom: 1px solid #dfe3e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content nav#mobile-navigation #language-selector span {
  color: #AB9A88;
  font-size: 0.875rem;
  margin-left: 0.625rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons {
  padding: 3rem;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons {
    display: none;
  }
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons a {
  color: #014593;
  text-decoration: none;
  padding: 0.1rem 0.6rem 0.4rem 0.6rem;
  background: #fff;
  border: 1px solid #014593;
  border-radius: 2rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons a:nth-child(2) {
  margin-left: 0.8rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons a span {
  margin-right: 1.4rem;
  font-size: 0.8125rem;
  line-height: 0.93rem;
  vertical-align: middle;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons a svg {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content #menu-bottom-buttons a svg path {
  stroke: #014593;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content.logged-in #mobile-menu-btn,
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content.logged-in nav#mobile-navigation .mobile-menu-item:nth-child(2),
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content.logged-in nav#mobile-navigation .mobile-menu-item:nth-child(3),
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content.logged-in #additional-menu-items {
  display: none;
}
header #mobile-menu #mobile-menu-wrapper #mobile-menu-content.logged-in #mobile-profile-section {
  display: block;
}
header #header-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #header-content #header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 1440px) {
  header #header-content #header-left #menu-button {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  header #header-content #desktop-nav-wrapper {
    display: none;
  }
}
header #header-content #header-right #header-buttons a {
  margin-left: 0.8rem;
  color: #014593;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  header #header-content #header-right #header-buttons a {
    padding: 0.1rem 0.6rem 0.4rem 0.6rem;
    background: #fff;
    border-radius: 2rem;
  }
}
header #header-content #header-right #header-buttons a span {
  margin-right: 1.4rem;
  font-size: 0.8125rem;
  line-height: 0.93rem;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  header #header-content #header-right #header-buttons a span {
    display: none;
  }
}
header #header-content #header-right #header-buttons a svg {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}
header #header-content #header-right #header-buttons a svg path {
  stroke: #fff;
}
@media screen and (min-width: 768px) {
  header #header-content #header-right #header-buttons a svg path {
    stroke: #014593;
  }
}

#hero {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  padding-top: 5.4rem;
}
#hero h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 104%;
  color: #FFDFBA;
}
@media screen and (min-width: 1440px) {
  #hero h1 {
    font-size: 3.75rem;
    line-height: 117%;
  }
}
#hero .lead {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 3.8rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero .lead {
    max-width: 55%;
  }
}
@media screen and (min-width: 1440px) {
  #hero .lead {
    max-width: 68.5%;
  }
}
#hero .btn-primary {
  text-align: center;
  padding-left: 5.9rem;
  padding-right: 5.9rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero .btn-primary {
    margin-bottom: 7rem;
  }
}
@media screen and (min-width: 1440px) {
  #hero .btn-primary {
    padding: 0.6875rem 1.625rem 0.8125rem 1.625rem;
  }
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #info {
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem 2.6rem;
  }
  #info p {
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 1440px) {
  #info {
    flex-direction: row;
    justify-content: center;
  }
  #info p {
    padding-left: 3.43rem;
  }
}
@media screen and (max-width: 768px) {
  #info img {
    display: none;
  }
}

.fixed {
  position: fixed;
}

/*# sourceMappingURL=style.css.map */
